@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flexbox-container {
    padding: 3px;
    border: 3px solid red;
    display: flex;
    height: 75vh;
    align-items: center;
    /*    justify-content: space-around;*/
    /*    flex-wrap: wrap-reverse;*/
    flex-direction: row;
}

.flexbox-container div {
    border: 1px solid firebrick;
    margin: 3px;

}

.a1 {
    /*    flex-basis: 400px;*/
    /*    order: 3;*/
    font-family: 'Orbitron', sans-serif;
}

.a2 {
    /*    flex-basis: 400px;*/
    /*    order: 1;*/
    /*    align-self: flex-start;*/
    color: lightcoral;
}

.a3 {
    /*    flex-basis: 400px;*/
    /*    order: 2;*/
    font-size: 1.1em;
}

/*
@media (min-width:762px) {
    .flexbox-container {
        flex-direction: row;
    }
}
*/
